# This is Git's per-user configuration file.
[credential]
	helper = osxkeychain
[user]
	email = willcxa@gmail.com
	name = zmwilliam
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
[mergetool]
	keepBackup = false
[includeIf "gitdir:~/workspace/obm/"]
    path = ~/workspace/obm/.gitconfig
[core]
	autocrlf = input
[pull]
	rebase = false
