# This is Git's per-user configuration file.
[credential]
	helper = osxkeychain
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
[mergetool]
	keepBackup = false
[core]
	autocrlf = input
[pull]
	rebase = false
[init]
	defaultBranch = master
